<div>
  <img src={{flags.svg}} alt={{name.official}} width='50' height='50' />
  <h2>{{name.official}}</h2>

  <p><strong>Capital:</strong> {{capital}}</p>
  <p><strong>Population:</strong>
    {{population}}</p>
  <p><strong>Languages:</strong>
    {{languages}}</p>

</div>